    @font-face {
        font-family: 'vazir';
        src: url('/Vazir.eot');
        src: local('☺'), url('../fonts/Vazir.woff') format('woff'), url('../fonts/Vazir.ttf') format('truetype');
    }

    input,
    button,
    body {
        font-family: vazir;
    }

    body {
        direction: rtl;
        font-family: vazir;
        padding-top: 15px;
        text-align: center;

    }

    .card {
        background-color: white;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.61);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        
        display: inline-block;
        padding: 10px;


    }

    .install_btn {
        background-color: #b7f4d8  ;
        border: none;
        font-weight: 600;
        color: white;
        cursor: pointer;
        font-size: 18px;
        width: 150px;
        margin-bottom: 0px;
        border-radius: 50px;
        padding: 10px;
        border: 1px solid #b7f4d8  ;
    }

    .update_btn {
        margin: 5px;
        background-color: #848ccf ;
        border: none;
        font-weight: 600;
        color: white;
        cursor: pointer;
        font-size: 18px;
        width: 150px;
        margin-bottom: 10px;
        border-radius: 50px;
        padding: 10px;
    }

    .ch_tel_btn {
        width: 100px;
        margin: 5px;
        padding: 3px;
        font-size: 16px;
        cursor: pointer;
        font-size: 18px;
        width: 150px;
        margin-bottom: 10px;
        border-radius: 50px;
        padding: 10px;
        border: 1px #eae1e1 solid;
    }

    .gap_tel_btn {
        width: 100px;
        margin: 5px;
        padding: 3px;
        font-size: 16px;
        cursor: pointer;
        font-size: 18px;
        width: 150px;
        margin-bottom: 10px;
        border-radius: 50px;
        padding: 10px;
        border: 1px #eae1e1 solid;
    }

    type[input] {
        direction: rtl;
    }